*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "montserrat", sans-serif;
}

/* style icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 50
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  min-height: 40px;
  background-color: #deb887;
}

nav .judul h1{
  font-size: 1rem;
}

nav .judul h1 a{
  text-decoration: none;
  color: #020e24;  
}

nav .judul h1 a:hover{
  color: #0b3c99;
}

nav .waktu{
    font-family: 'Courier New', Courier, monospace;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin: 30px auto;
}

main header{
  text-align: left;
  min-width: 100%;
}

main header h2{
  font-weight: 600;
  text-transform: uppercase;
}

main header .tambah{
  margin-top: 15px;
}

main header .tambah button{
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #e9901c;
  background-color: #e9901c;
  color: #ffffff;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

main table {
  border-collapse: collapse;
  margin-top: 20px;
  min-width: 100%;
}

main table caption{
  text-align: left;
  margin-bottom: 15px;
}

main table thead tr{
  background-color: #f5ba6d;
}

main table tr{
  border-bottom: 1px solid #020e24;
}

main table tr th{
  text-align: left;
  font-weight: 550;
}

main table tr th, td{
  padding: 10px;
}

main table tbody tr td:nth-last-child(1){
  display: flex;
}

main table tbody tr td:nth-last-child(1) button{
  display: flex;
  align-items: center;
  justify-content: center;
}

main table tbody tr td:nth-last-child(1) button:nth-child(1){
  background-color: #e42e0e;
  color: #fff;
  padding: 2px;
  border: 1px solid #e42e0e;
  border-radius: 5px;
  margin-right: 10px;
}

main table tbody tr td:nth-last-child(1) button:nth-child(2){
  background-color: #e9901c;
  color: #fff;
  padding: 2px;
  border: 1px solid #e9901c;
  border-radius: 5px;
}