*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: cursive;
  min-height: 40px;
  background-color: #deb887;
}

nav .judul h1{
  font-size: 1rem;
}

nav .judul h1 a{
  text-decoration: none;
  color: #020e24;  
}

nav .judul h1 a:hover{
  color: #0b3c99;
}

nav .waktu{
    font-family: 'Courier New', Courier, monospace;
}