.container form input, textarea, select{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid  #eee !important;
}

.update {
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 800,
  'GRAD' 0,
  'opsz' 24
}
}